@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(38, 38, 38);
  color: white;
}

fieldset {
  width: 50%;
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 300;
}

/*  */
.about {
  position: relative;
  width: 100%;
  padding: 20px;
  background: #162c3b;
  display: flex;
}
/*  */
.content {
  padding: 15px 0;
  width: 100%;
}
/*  */
.contactForm {
  position: relative;
}
/*  */
.contactForm .box-styling {
  margin-bottom: 30px;
}
/*  */
.contactForm .box-styling input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  margin-left: 15px;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
/*  */
.contactForm .box-styling textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  margin: 0 10px;
  outline: none;
  border: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  min-height: 150px;
  border-bottom: 2px solid #fff;
}
/*  */
.contactForm .box-styling input::placeholder,
.contactForm .box-styling textarea::placeholder {
  color: #fff;
}
/*  */
.contactForm .box-styling input[type="submit"] {
  width: 150px;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-weight: 400;
}

.box-styling small {
  color: var(--error-color);
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.contactForm-control.error small {
  visibility: visible;
}

.box-styling.success input {
  border-color: var(--succes-color);
}

.box-styling.error input {
  border-color: var(--error-color);    
}
